<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>kickhub.com ─ donate to free culture</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/kickhub.css" type="text/css" />
    <script type="text/javascript">
      $(window).on('load', function () {
      $('.selectpicker').selectpicker();
      });
    </script>
  </head>
  <body>
    
    <a href="/"><img class="logo" src="/pic/kickhub.png" /></a>
    
    <div id="menu"></div>
    
    <div id="content"></div>
    
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="mailto:bzg@kickhub.com">Contact</a></li>
	  <li><a href="/about">About</a></li>
	</ul>
      </div>
    </nav>
    
  </body>
</html>
