<div id="task-show">
  <ul class="list-group">
    <li id="task-name" class="list-group-item"></li>
    <li id="task-user" class="list-group-item"></li>
    <li id="task-license" class="list-group-item"></li>
    <li id="task-status" class="list-group-item"></li>
    <li id="task-received" class="list-group-item"></li>
    <li id="task-pending" class="list-group-item"></li>
    <li id="task-link" class="list-group-item"></li>
  </ul>
</div>

<div id="tasks-list" class="panel panel-default">
  <div class="panel-heading">List of tasks</div>
  <table class="table">
    <thead>
      <tr>
	<th>User</th>
	<th>Task</th>
	<th>License</th>
	<th>Status</th>
	<th>Received</th>
	<th>Pending</th>
	<th>Support now!</th>
      </tr>
    </thead>
    <tbody>
      <tr id="task-item">
	<td id="task-user">bzg</td>
	<td id="task-name">Org maintainance</td>
	<td id="task-license">GNU GPLv3</td>
	<td id="task-status">DONE</td>
	<td id="task-received">200</td>
	<td id="task-pending">0</td>
	<td id="task-link"><a href="http://orgmode.org">http://orgmode.org</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="transactions-list" class="panel panel-default">
  <div class="panel-heading">List of transactions</div>
  <table class="table">
    <thead>
      <tr>
	<th>From user</th>
	<th>Amount</th>
	<th>Currency</th>
	<th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr id="transaction-item">
	<td id="transaction-fromuid">bzg</td>
	<td id="transaction-amount">100</td>
	<td id="transaction-currency">USD</td>
	<td id="transaction-status">Received</td>
      </tr>
    </tbody>
  </table>
</div>
