body {
  font-size: 14pt;
  padding: 0em;
  margin: 0em;
}

#container {
  padding-top: 3em;
  width: 60%;
  margin: auto;
}

#menu {
  right: .8em;
  top: .8em;
  position: fixed;
}

#menu li {
  display: inline;
}

li, input {
  list-style-type: none;
}

input {
  background-color: #eee;
  padding: .4em;
  display: block;
  margin: .4em;
  border: 1px solid gray;
}

.input-group {
  max-width: 60%;
  margin: auto;
}

.btn-info {
  margin: 1.4em;
}

#logo img {
  left: .3em;
  top: .3em;
  width: 120px;
  position: absolute;
}

#msg, p.alert {
  padding-top: 1em;
  text-align: center;
  color: darkorange;
  width: 60%;
  margin: auto;
}

#notifications {
  display: inline;
}

#info {
  color: #ff0000;
}

.news {
  display: block;
}

#footer {
  background-color: white;
  text-align: center;
  z-index: 100;
  padding: .2em;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#footer, button {
  margin: .3em;
}

a {
  color: darkorange;
}