@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Raleway);

html {
    margin: 0; 
    padding: 0;
}

body {
    font-family: "Inconsolata";
    font-size: 15pt;
    background-color: white;
    margin: 3em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logo {
    position: fixed; 
    top: .2em;
    font-size: 500%;
}

#logo a {
    text-decoration: none; 
    color: black;
}

#logo a:hover {
    text-decoration: none; 
    color: blue;
}

#login {
    position: fixed;
    right: 2em;
    top: 2em;
    text-align: right;
}

form {
    margin-top: 2em;
}

select, input {
    color: black;
    font-size: 120%;
    padding: .3em;
    background-color: #eee;
    border: 1px solid grey;
}

#new-projects, #list-projects, #active-projects, #about {
    margin: auto;
    margin-top: 8em;
    width: 75%;
    background-color: white;
    text-align: left;
}

#about {
    font-family: "Raleway";
    text-align: justify;
}

li {
    list-style-type: none; 
    margin: .3em;
}
